<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8" />
  <title>Resumen Contable</title>
  <link rel="stylesheet" type="text/css" href="source/css/main.css">
  <link rel="icon" href="/source/finch_icon.png">
</head>

<body>
  Contabilidad
</body>

</html>
