<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8" />
  <title>Pajarera</title>
  <link rel="stylesheet" type="text/css" href="../source/css/main.css">
  <link rel="icon" href="../source/finch_icon.png">
</head>

<body>
  <div id="acceder">
    <h2>Acceder</h2>
    <form method="post">
      <input type="text" name="usuario" placeholder="usuario" />
      <br />
      <input type="password" name="contrasena" placeholder="contraseña" />
      <br />
      <input type="submit" value="Entrar" margin="auto"/>
    </form>
  </div>
</body>

</html>
