<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8" />
  <title>Nidos</title>
  <link rel="stylesheet" type="text/css" href="../source/css/main.css">
  <link rel="icon" href="../source/finch_icon.png">

</head>

<body>
  <div id="resumen_nidos">
    <h2>Resumen de los Nidos</h2>
    <table>
      <tr>
        <td> Nidos </td> <td> 70 </td>
      </tr>
      <tr>
        <td> Huevos </td> <td> 30 </td>
      </tr>
      <tr>
        <td> Crías </td> <td> 48 </td>
      </tr>
      <tr>
        <td> Actualizado </td> <td> 3-Jun-2017 </td>
      </tr>
    </table>

  </div>
  <div id="lista_nidos">
    <h2> Lista de los nidos</h2>
    <table>
      <tr>
        <th> Nido </th> <th> Ocupado </th> <th> Huevos </th><th> Crías </th>  <th> Actualizado </th>
      </tr>
      <tr>
        <td> 03 </td> <td> Sí </td> <td> 3 </td> <td> 1 </td> <td> 3-Jun-2017 </td>
      </tr>
      <tr>
        <td class="dropdown"> 40 </td> <td> No </td> <td> 0 </td> <td> 0 </td> <td> 3-Jun-2017 </td>
      </tr>
      <tr>
        <td> 70 </td> <td> Sí </td> <td> 0 </td> <td> 4 </td> <td> 3-Jun-2017 </td>
      </tr>
    </table>
  </div>
</body>

</html>
