<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8" />
  <title>Transacciones</title>
  <link rel="stylesheet" type="text/css" href="../source/css/main.css">
  <link rel="icon" href="../source/finch_icon.png">
</head>

<body>
  <form method="post">
    <select name="fecha">
      <option value="Hoy"> Hoy </option>
    </select>
    <input type="text" name="cuenta_cargada" placeholder="Cuenta cargada" />
    <input type="text" name="cargo" placeholder="Cargo" />
    <input type="text" name="cuenta_abonada" placeholder="Cuenta abonada" />
    <input type="text" name="abono" placeholder="Abono" />
    <input type="text" name="nota_transaccion" placeholder="Anotación" />
    <input type="button" value="Registrar" />
  </form>
  <button name="otra_transaccion">
    +
  </button>
</body>

</html>
